.container {
    background: #171a29;
}

.restaurant-name {
    color: white;
}

.silver-color {
    color: #c0c0c0;
}

.btn-state {
    background: #35728a;
    color: #c0c0c0;
    width: fit-content;
}

.category-name {
    color: black;
    &:hover {
        color: #fc8019;
    }
}

.food-list {
    border-left: 1px solid #c3c3c3;
}

.veg-icon {
    border: 1px solid #60b246;
    width: fit-content;
}

.food-item {
    border-bottom: 1px solid #c3c3c3;
}

.add-or-delete {
    border: 1px solid #c3c3c3;
}

.add-btn {
    color: #60b246;
}

.cart-label {
    color:  #c3c3c3;
}
